@font-face
{
    font-family: 'Epilogue';
    src: url('fonts/Epilogue-Light.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face
{
    font-family: 'Roboto';
    src: url('fonts/Roboto-Light.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}


body {
    margin: 0;
    padding: 0;
    font-family: 'Epilogue', sans-serif;
    line-height: 1.4;
    font-weight: 300;
}

/*________________________________________________________________Header___________________________________________________________________
*/    

header {
    background-image: url(Jeux_img/backround_copie1.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top center;
    display: flex;
    position: fixed;
    justify-content: center;
    height: 120px;
    width: 100%;
    top: 0;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.3);
    z-index: 2;
}

.logo {
    height: 100%;
}

.logoDesktop{
    display: none;
}

/*________________________________________________________________Menu-Burger___________________________________________________________________
*/

.btn {
    width: 42px;
    height: 24px;
    position: absolute;
    left: 10px;
    top: 85px;
}

.btn span {
    width: 100%;
    height: 4px;
    background-color: white;
    border-radius: 10px;
    display: block;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    transition: background-color 0.5s ease-in-out;
}

.btn span::before , .btn span::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 4px;
    background-color: white;
    border-radius: 10px;
    transition: transform 0.5s ease-in-out;
}

.btn span::before {
    transform: translateY(-10px);
}

.btn span::after {
    transform: translateY(10px);
}

.btn.btnCross span {
    background-color: transparent;
}

.btn.btnCross span::before {
    transform: translateY(0px) rotate(45deg);
}

.btn.btnCross span::after {
    transform: translateY(0px) rotate(-45deg);
}

.menuBurger {
    position: fixed;
    left: 0;
    width: 60%;
    height: 100%;
    top: 120px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.42);
    transform: translateX(-110%);
    transition-duration: 2s;
    background-color: #FFFFFF;
}

.isOpen {
    transform: translateX(0);
}

.menuBurger ul {
    margin-top: 70px;
}

.menuBurger a {
    text-decoration: none;
    color: black; 
}

.menuBurger a img {
    margin-right: 20px;
}

.menuBurger ul li {
    list-style: none;
    margin-top: 35px;
}

.menuBurger hr {
    border: 0.5px solid #7DC0A7;;
}

/*________________________________________________________________Main___________________________________________________________________
*/

main {
    margin: 190px 5px 30px 5px;
}

/*________________________________________________________________Title___________________________________________________________________
*/

h1{
    font-size: 38px;
    color: #B79B80;
    text-align: center;
    font-family: "Roboto", sans-serif;
    font-weight: 300;
}

h2 {
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 24px;
    color: #FFFFFF;
    text-align: center;
    background-color: rgba(125, 192, 167, 0.8);
    margin: 25px 0 0 0 ;
}

h3 {
    font-family: "Roboto", sans-serif;
    font-weight: 300;
    font-size: 18px;
    color: #FFFFFF;
    text-align: center;
    background-color: rgba(125, 192, 167, 0.8);
    margin: 0;
}

h4  {
    font-family: "Roboto", sans-serif;
    font-size: 24px;
    color : #B79B80;
    margin-bottom: 20px;
    text-align: center;
}


p{
    font-size: 18px;
    text-align: center;
}

/*________________________________________________________________Carte Article_____________________________________________
*/

.titleArticle {
    position: relative;
    width: 100%;
    top: 58px;
}

.titleArticle h2 {
    border-radius: 5px 5px 0 0;
}

.lieux {
    top: 33px;
}

/*________________________________________________________________Button lire la suite_____________________________________________
*/

.divButton{
    display: flex;
    justify-content: end;
    
}

.send, .button{
   background-color: #FFC108;
   color: #FFFFFF;
   margin-right: 10px;
   border-radius: 5px;
   border: 0;
   padding: 5px;

}

.button a {
    color: #FFFFFF;
    text-decoration: none; 
}

/*____________________________________________________________Picto des avis ________________________________________________________________________________
*/

.mainPicto{
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    align-items: flex-end;
    
}
.avisNumber{
    padding-left: 0.5rem;
    padding-right: 3rem;
    margin: 8px 0 0 0;

}
.dixYellow{
    color: #FFC108;
}

/*____________________________________________________________photo de profil ________________________________________________________________________________
*/

.imgProfil{
    border-radius: 50%;
    
}

.article{
    display:flex;
    flex-direction: column;
    align-items: center;
}

.imgArticle{
    width: 100%;
    height: 100%;
    border-radius: 5px;
}

.imgProfil.avis {
    width: 30%;
    height: auto;
}

/*____________________________________________________________Formulaire de contact_____________________________________________________________________________
*/

textarea{
    resize: none;
    border-radius: 1rem;
    margin: 1rem;
}

.contact{
    display:flex;
    flex-wrap: wrap;
    align-items: center;
    flex-direction: column;
    }
    
fieldset{
    border :none;
}
 
.send{
   margin-bottom: 3rem;
   background-color: #FFC108;
   
}

hr {
    width: 80%;
    border: 0.5px solid #B79B80;
    margin-top: 40px;
}


/*____________________________________________________________Footer_____________________________________________________________________________
*/

footer ul {
    display: flex;
    justify-content: space-around;
    padding: 0;
    margin: 0;
}

footer ul li {
    list-style: none;
    text-decoration: none;
    flex: 1;
    text-align: center;
}

footer ul li a{
   text-decoration: none;
   color: #7DC0A7;
   font-size: 1.2rem;
}

.network {
    color: #7DC0A7;
    display: flex;
    justify-content: center;
}

.picto {
    width :30px;
    padding:10px;
}

footer{
    background:#C8E8DC;
    width:100%;
    padding-top:70px;
}

.border {
    height: 70x;
    width: 1px;
    background-color: #7DC0A7;
}

/*____________________________________________________________Footer_____________________________________________________________________________
*/

.jeudumoment {
    width: 100%;
}
.photoprofil {
    width :120px;
}

.suggestion {
    display: flex;
    margin-block-end: 50px;
    justify-content: center;
   
}
.sizeSuggestion {
    width :100px;
    margin: 15px;  
}


/*____________________________________________________________Media queries_____________________________________________________________________________
*/

@media screen and (min-width: 940px) {


    /*-----------------.menu = ul-----------------*/ 
    .menuBurger {
      all: unset;
      width: 100%;

    }
    .menuBurger > ul{
        display: flex;
        justify-content: flex-start;
        align-items: flex-start;
        margin: 0;
        background-color: #FFFFFF;
        padding: 0px;
        
        
    }
    .menuBurger > ul > li {
        display: flex;
        height: 50px;
        padding-right: 35px;
        align-items: center;
        margin: 0;
        font-family: "Roboto", sans-serif;
    
        
        }
    .menuBurger a  {
        color: #7DC0A7;

    }

    .menuBurger > ul > li > a > img{
        display: none;
    }
    hr{
        display: none;
    }
     
    .logo{
        display: none;
    }

    .logoDesktop{
        height: 50px;
        width: 70px;
        display: inline-block;
        background-color: #FFFFFF;
        padding-right: 1rem;
    }
    /*-----------------.mainMenu = logo + menu de navigation-----------------*/
   
   

    nav {
        height: 76px;
    }
    .btn {
        display: none;
    }

     } 
    